.container {
  position: relative;
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  padding: 25px 25px 60px;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #353746;
}

.input::placeholder {
  color: #353746;
}

.label {
  position: absolute;
  top: 85px;
  left: 45px;
  font-size: .9rem;
  color: #bbbabf;
  z-index: 2;
}